@import 'utils/perements';
@import 'utils/mixins';

@import 'base/container';
@import 'base/images';
@import 'base/tags';
@import 'base/buttons';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/homePage';
@import 'layout/checklist';
@import 'layout/nutrition';
@import 'layout/subscribe';
@import 'layout/_startNow';
@import 'layout/recipes';
@import 'layout/approach';
@import 'layout/advices';
@import 'layout/tariffs';
@import 'layout/error404';

html{
  width: 99vw;
  overflow-x: hidden;
  position: absolute;
  left: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: $white; 
  font-size: 1vw;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 300;
}
@media (max-width: $tablet){
  li{
    list-style: none;
  }
}
@media (max-width: $mobile) {
  html{
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
    left: 0;
  }
}