  $white: #ffffff;
  $dark-gray: #2C2C2C;
  $red: #EA543C;
  $gradient-primary: linear-gradient(135deg, rgba(234, 84, 60, 1) 0%, rgba(197, 170, 36, 1) 100%);
  $gradient-secondary: linear-gradient(135deg, rgba(52, 188, 166, 1) 0%, rgba(197, 170, 36, 1) 100%);
  $orange: #CC6819;
  $light-gray: #a0a0a0;
  $black: #000000;
  $lazure: #34BCA6;

  $mobile: 450px;
  $tablet: 768px;