
.approach{
  padding-top: 4.5vw;
  padding-bottom: 6vw;
  
  h2{
    margin-bottom: 2.3vw;
  }
  
  &__blocks{
    width: 64vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw; 
    
    h5{
      margin-bottom: 0.3vw;
    }
  }
  
  &__item{
    border-radius: 1vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    padding-left: 1.5vw;
    padding-top: 1.5vw;
    
    p{
      margin: 0;
      font-size: 0.95vw;
    }
    
    &:nth-child(1){
      width: 24vw;
      
      [alt = "yellowSigns"]{
        width: 10vw;
        margin-left: 4.5vw;
        position: relative;
        bottom: 1.7vw;
      }
    }
    
    &:nth-child(2){
      width: 13vw;
      
      [alt = "yellowSigns"]{
        width: 7.5vw;
        margin-left: 1.9vw;
        position: relative;
      }
    }
    
    &:nth-child(3){
      width: 20vw;
      
      [alt = "yellowSigns"]{
        width: 7.5vw;
        margin-left: 4.5vw;
        position: relative;
      }
    }
    
    &:nth-child(4){
      width: 19vw;
      
      [alt = "yellowSigns"]{
        width: 8.5vw;
        margin-left: 4vw;
        position: relative;
      }
    }
    
    &:nth-child(5){
      width: 19vw;
      
      [alt = "yellowSigns"]{
        width: 8.5vw;
        margin-left: 3vw;
        position: relative;
      }
    }
    
    &:nth-child(even){
      background: $dark-gray;
      color: $white;
    }
  }
  
  &__button{
    color: $white;
    width: 20vw;
    border-radius: 1vw;
    height: 12vw;
    @include flexbase();
    flex-direction: column;
    justify-content: center;
    background: $gradient-primary;
    
    h5{
      text-align: center;
    }
  }
}
@media (max-width: $mobile){
  
  .approach{
    h2{
      font-size: 500%;
    }
    
    .approach__blocks{
      width: 80vw;
      flex-direction: column;
      height: 100vw;
      
      .approach__item{
        height: 25vw;
        padding: 2vw;
        justify-items: center;
        align-items: center;
        border: $dark-gray 1px solid;
        
        img{
          display: none;
        }
        
        h5{
          font-size: 200%;
          font-weight: 600;
          padding-top: 2vw;
          padding-bottom: 3vw;
        }
        
        p{
          font-size: 200%;
        }
        
        &:nth-child(1){
          width: 35vw;
          background-image: url(../photos/yellowSign_1.png);
          background-size: 10vw;
          background-repeat: no-repeat;
          background-position: bottom right;
        }
        
        &:nth-child(2){
          width: 35vw;
          background-image: url(../photos/yellowSign_2.png);
          background-size: 10vw;
          background-repeat: no-repeat;
          background-position: bottom right;
        }
        
        &:nth-child(3){
          width: 35vw;
          background-image: url(../photos/yellowSign_3.png) ;
          background-size: 10vw;
          background-repeat: no-repeat;
          background-position: bottom right;
        }
        
        &:nth-child(4){
          width: 35vw;
          background-image: url(../photos/yellowSign_4.png);
          background-size: 10vw;
          background-repeat: no-repeat;
          background-position: bottom right;
        }
        
        &:nth-child(5){
          width: 35vw;
          background-image: url(../photos/yellowSign_5.png);
          background-size: 10vw;
          background-repeat: no-repeat;
          background-position: bottom right;
        }
      }
      
      .approach__button{
        width: 35vw;
        height: 25vw;
        padding: 2vw;
        border: $dark-gray 1px solid;
        
        h5{
          font-size: 200%;
          font-weight: 600;
          padding-top: 2vw;
          padding-bottom: 3vw;
        }
        
        .button-subscribe--third{
          align-self: center;
          width: 30VW;
          height: 10VW;
          font-size: 220%;
          font-weight: 600;
          border-radius: 3VW;
        }
      }
    }
  }  
}