.checklist{
  color: $white;
  background:$gradient-secondary;
  height: 24.5vw;
  padding-top: 4vw;
  
  &__text{
    width: 36vw;
    
    h2{
      margin-bottom: 2.5vw;
    }
    
    p{
      margin-bottom: 1vw;
      font-size: 1.05vw;
    }
    
    .checklist__email {
      height: 2.5vw;
      width:19vw;
      border: none;
      font-size: 1.1vw;
      padding-left: 1vw;
      border-radius: 0.6vw;
    }
    
    a{
      position: relative;
      right: 2.5vw;
      top: 0.5vw;
      
      [alt = "arrow"]{
        width: 1.7vw;
        filter:  invert(1);
        transition: filter 0.3s ease;
        
        &:hover{
          width: 1.7vw;
          filter:  invert(0);
        }
      }
    }
  }
}
@media (max-width: $mobile){
  .checklist{
    height: auto;
    
    .checklist__text{
      width: 80vw;
      padding-bottom: 5vw;
      
      h5{
        font-size: 200%;
        font-weight: 600;
      }
      
      p{
        font-size: 200%;
      }
      
      .checklist__email {
        height: 5vw;
        width: 40vw;
        font-size: 2vw;
        padding-left: 1vw;
        border-radius: 1vw;   
      }
      
      img[alt=arrow]{
        width: 4.5vw;
        position: relative;
        top: 1vw;
        right: 3vw;
      }
    }
  }
     
}