footer{
  height: 10vw;
  background-color: $dark-gray;
  padding-top: 1vw;
  ul{
  list-style: none;
}
  a, a:visited, a:active, a:link{
    color: $white;
  }
  
  a:hover{
  transition: 0.4s;
            color: $red;
            font-size: 110%;
  }
  a.policy{
  position: relative;
  bottom: -2vw;
  color: #a0a0a0 ;
  font-size: 0.8vw;
}
a.policy:hover{
    font-size: 0.9vw;
}
 .social{
    width: 13.4vw;
    align-items: center;
    @include flexbase();
    justify-content: space-between;
    flex-direction: row;
    padding-left: 21vw;
    margin: 0;
    color: $white;
  }
}
.footer{
  .social{
    width: 13.4vw;
    align-items: center;
    @include flexbase();
    justify-content: space-between;
    flex-direction: row;
    padding-left: 21vw;
    margin: 0;
    color: $white;
  }
}
@media (max-width: $mobile){
    footer{
      height: 65vw;
      padding: 0;
      padding-top: 5vw;
      
      .navbar{
        @include flexbase();
        gap: 2vw;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        
        .navbar__links{
          display: flex;
          gap: 4vw;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          justify-items: center;
          padding: 0%;
          font-size: 400%;
        }
        
        .navbar__logo{
          transform: scale(2);
        }
      }
      
      .social{
        transform: scale(4);
        padding: 1vw;
      }
      
      a.policy{
        display: none;
      }
    }
}