header{
    padding-top: 1vw;
}
.navbar{
  width: 64vw;
  align-items: center;
  @include flexbase();
  justify-content: space-between;
  flex-direction: row;
  a{
    color: black;
  }
  .navbar__links{
    width: 54vw;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    padding-bottom: 1vw;
    padding-right: 3vw;
    a:hover{
      color: $red;
    }
  }
  
  .navbar__logo a{
    @include flexbase();
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
    font-weight: bold;
    font-size: 2.1vw;
    background: $gradient-primary;
    background-clip: text;
    color: transparent;
  }
}
.navbar__logo .a,.navbar__logo a:visited,.navbar__logo a:active,.navbar__logo a:link{
    text-decoration: none;
    transition: none;

}
@media (max-width: $mobile){
  .navbar__search-icon, .navbar__burger, .navbar__mobile-menu {
    display: block;
  }
  
  .navbar__search-icon, .navbar__burger{
    z-index: 100;
  }
  
  .navbar {
    justify-content: space-between;
    padding: 0 4vw;
    
    .navbar__links {
      display: none ;
    }
    
    .navbar__search-icon, .navbar__burger {
      width: 6vw;
      height: 6vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 6vw;
      cursor: pointer;
    }
  }
  header .navbar__logo {
    align-self: center;
    transform: scale(1.7);
    padding-top: 2vw;
  }
  
  .navbar__mobile-menu {
    z-index: 100;
    position: absolute;
    top: 12vw;
    left: 0;
    width: 100vw;
    background:$gradient-primary; 
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding: 4vw 0;
    transform: translateY(-200%);
    transition: 0.4s ease;
    border-radius: 3vw;
    
    &.active {
      transform: translateY(-5%);
    }
    
    li {
      list-style: none;
      text-align: center;
      transition: 0.4s ease;
      border-radius: 2vw;
      
      &:active {
        background: linear-gradient(270deg,rgba(52, 188, 166, 1) 0%, rgba(197, 170, 36, 1) 100%);
        transition: 0.4s ease;
        border-radius: 2vw;
      }
      
      a {
        font-size: 5vw;
        text-decoration: none;
        color: $white;
      }
    }
  }
}
@media (min-width: $mobile){
  .navbar__search-icon, .navbar__burger, .navbar__mobile-menu {
    display: none;
  }
}