.nutrition{
  background: $white;
  height: 60vw;
  padding-top: 3vw;
  padding-bottom: 5.4vw;
  
  &__photo{
    border-radius: 2vw;
    height: 51vw;
    width: 49vw;
    position: absolute;
    right: 0vw;
  }
  
  &__pfc{
    height: 51vw;  
    width: 32vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    left: 0;
    
    .nutrition__protein, .nutrition__vitamins, .nutrition__carbohydrate, .nutrition__fat{
      width: 15vw;
      border-radius: 1.2vw;
      @include flexbase();
      flex-direction: column;
      align-content: space-around;
      
      ul{
        padding: 1vw 1vw 1vw 2vw;
        margin: 0%;
        line-height: 1.67vw;
        font-size: 1.1vw;
      }
    }
    
    .nutrition__protein{
      background: #34BCA6;
      background: linear-gradient(135deg,rgba(52, 188, 166, 1) 0%, rgba(197, 170, 36, 1) 100%);
      transform: scale(1);
      color: $white;
    }
    
    .nutrition__vitamins, .nutrition__carbohydrate{
      color: #000000;
      border: 0.052vw solid black;
    }
    
    .nutrition__fat{
      background: $gradient-primary;
      transform: scale(1);
      color: $white;
    }
    
    .nutrition__scattered{
      width: 31vw;
      height: 12.6vw;
      margin-bottom: 0.5vw;
      
      img{
        position: relative;
        left: -0.5vw;
        bottom: -0.5vw;
        width: 29.17vw;
        height: 12vw;
      }
    }
    
    .nutrition__protein{
      height: 17.47vw;
    }
    
    .nutrition__vitamins{
      height: 13.78vw;
    }
    
    .nutrition__carbohydrate{
      height: 18.194vw;
    }
    
    .nutrition__fat{
      height: 21.884vw;
      position: relative;
      bottom: 3.68vw;
    }
  }
}
@media (max-width: $mobile){
   .nutrition{
    &__photo{
      display: none;
    }
    
    height: auto;
    
    h2{
      font-size: 500%;
      font-weight: 700;
    }
    
    .nutrition__pfc{
      transform: scale(2);
      margin-bottom: 30vw;
      
      img{
        display: none;
      }
    }
  } 
}