.subscribe{
  height: 29.484vw;
  background: $gradient-primary;
  color: $white;
  
  &__text{
    padding-top: 4.4VW;
    width: 35Vw;
    height: 13VW;
    
    h2{
      margin: 0%;
      padding-bottom: 1.1vw;
    }
    
    p{
      width: 30Vw;  
    }
  }
  
  &__photos{
    height: 29.484vw;
    width: 37.5vw;
    position: absolute;
    right: 0vw;
    left: 54.5vw;
    overflow: hidden; 
    
    .subscribe__content{
      display: grid;
      grid-template-columns: 1fr 1.4fr 1fr;
      gap: 0.8vw;
      padding: 0.8vw;
      border-radius: 0.8vw;
      box-sizing: border-box;
      overflow: hidden; 
    }
    
    .subscribe__column img {
      aspect-ratio: 3 / 4;
      transform: translateY(-4vw);
    }
    
    .subscribe__column__square img {
      aspect-ratio: 1 / 1;
      transform: translateY(-9vw);
    }
  }
}
@media (max-width: $mobile){
    .subscribe{
    height: auto;
    padding-bottom: 5vw;
    
    .subscribe__content{
      display: none ;
    }
    
    .subscribe__text{
      width: 80vw;
      height: auto;
      
      p{
        width: 80vw;
        font-size: 300%;
      }
      
      h2{
        font-size: 500%;
      }
    }
    
    .button-subscribe--secondary{
      align-self: center;
      width: 30VW;
      height: 10VW;
      font-size: 220%;
      font-weight: 600;
      border-radius: 3VW;
    }
  } 
}