@media (max-width: $mobile){
     [alt = "checklist__photo"]{
    display: none;
  } 
}
[alt="logo"]{
    height: 5vw;
}
[alt="ellips"]{
    height: 80vw;
    position: absolute;
    z-index: -10;
    top: -35vw;
    right: 45vw;

}
[alt="fruits"]{
       height: 42.796vw;
    position: absolute;
    z-index: -9;
    left: 4.68vw;
    top: 5.2vw;
}
[alt="pan"]{
    width: 37.232vw;
    height: 34.8vw;
    margin: 2.4vw;
    align-self: center;
    justify-self: center;
    position: relative;
    left: 1vw;
    
    border-radius: 110%;
    box-shadow: 0.3vw 0vw 1vw rgb(0, 0, 0);
}
[alt="sp"]{
      width: 100%;
    height: auto;
    border-radius: 1vw;
    object-fit: cover;
    display: block;
    margin-bottom: 1vw;
}
[alt = "sm"]{
  width: 1vw;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}
[alt = "sm"]:hover{
  width: 1vw;
    filter: none;
}
[alt = "arrow"]{
  padding-top: 0.6vw;
  width: 2vw;
    filter:  invert(0);
    transition: filter 0.3s ease;
}
[alt = "arrow"]:hover{
  width: 2vw;
  filter:  invert(1);
}
[alt="checklist__photo"]{
  width: 25.7vw;
    position: relative;
    top: -15vw;
    left: 37.5vw;
}