h1, h2, h3, h4, h5{
font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h1{
    font-size: 4.35vw;
    margin-top: 5vw;
    margin-bottom: 2vw;
}
h2{
  margin: 0%;
  margin-bottom: 3.69vw;
      font-size: 3.12vw;
     font-style: normal;
     font-weight: 100;
    }
h3{
     font-size: 3.1vw;
       font-style: normal;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4{
  margin: 1vw 1vw 0vw 1vw;
  font-size: 1.5vw;
}
h5{
  font-size: 1.25vw;
  margin: 0;
  line-height: 1.5vw;
}

 a{
            text-decoration: none;
            font-weight: bolder;
        }
        a:visited, a:active, a:link{
            transition: 0.4s;
        }
        a:hover{
            transition: 0.4s;
            color: $red;
            font-size: 105%;
          
        }